*{
    margin-top: 30;
    margin-left: 30;
    margin-right: 30;
    padding: 90;  
}
body {
    background:#DEFAE5;
    
}
.yer {
    color:#0E491D;
    font-family: Lato;
    font-weight: 5pt;
}
.naur {
    text-emphasis: center;
}
.naur {
    color: #DEFAE5;
    font-family: Lato, sans-serif, bold;
    font-size: 20px;
    line-height:1.2;
    top: -10px;
    line-height: -1;
    z-index: 5;
    background-color:#F88379;
    background-size: 5%;
    background-position: left center;
    display: inline-flex;
    padding: 28px;
    margin-left: 170px;
}
.p1{
font-size: 15px;
color:#082C11;
font-family: Roboto Mono, bold;
margin-left: -85;
letter-spacing: 12pt;
}
.p2{
    font-size: 15px;
    color:#082C11;
    font-family: Roboto Mono, bold;
    margin-left: -85;
    margin-bottom: 75;
    letter-spacing: 12pt;  
}
.f1 {
    font-size: 15px;
    color:#082C11;
    font-family: Roboto Mono, bold;
    margin-left: -85;
    margin-top: 75;
    letter-spacing: 12pt;  

}
.p1device {
    font-size: 12px;
    color:#F88379;
    font-family: Roboto Mono, bold;
    margin-left: -85;
    margin-top: -650;
    letter-spacing: 5pt;  
    
}
.p2device {
    font-size: 12px;
    color:#F88379;
    font-family: Roboto Mono, bold;
    margin-left: -85;
    margin-top: 33;
    letter-spacing: 5pt;  
    
}
.f1device {
    font-size: 12px;
    color:#F88379;
    font-family: Roboto Mono, bold;
    margin-left: -85;  
    margin-top: 75;
    letter-spacing: 5pt; 
}
.link1 a:link {
    color:#082C11;
    position: absolute;
    top: 1070;
    left: 245;
    letter-spacing: 5pt;
    font-family: Roboto Mono, bold;
  }
  
.link1 a:visited {
    color:#082C11;
  }
  
  .link1 a:hover {
    color:#F88379;
  
  }
  .link2 a:link {
    color:#082C11;
    position: absolute;
    top: 1295;
    left: 245;
    letter-spacing: 5pt;
    font-family: Roboto Mono, bold;
  }
  
.link2 a:visited {
    color:#082C11;
  }
  
  .link2 a:hover {
    color:#F88379;
  
  }
  .link3 a:link {
    color:#082C11;
    position: absolute;
    top: 1568;
    left: 245;
    letter-spacing: 5pt;
    font-family: Roboto Mono, bold;
  }
  
.link3 a:visited {
    color:#082C11;
  }
  
  .link3 a:hover {
    color:#F88379;
  
 
 }
  .img1 {
    position: absolute;
    top: 730;
    left: 420;
  }
  .img2 {
    position: absolute;
    top: 1000;
    left: 420;
    
    
  }
  .img3 {
    position: absolute;
    top: 1291;
    left: 420;

}
