*{
    margin-top: -25;
    margin-left: -40;
    margin-right: 30;
    padding: 90;  
}
body {
    background:#d7dfe2;
}
.masjid1 {
    position: absolute;
    top: 330;
    z-index: -1;
    right: 50;
}
.masjid2 {
    position: absolute;
    top: 330;
    z-index: -1;
    right: 467;
}
.masjid3 {
    position: absolute;
    top: 330;
    z-index: -1;
    left: -225;
}
.masjid4 {
    position: absolute;
    top: 330;
    z-index: -2;
    right: -420;
}
.masjid5 {
    position: absolute;
    top: 920;
    z-index: -2;
    left: -275;
  }
.masjid6 {
    position: absolute;
    top: 920;
    z-index: -3;
    left: 153;
}
.masjid7 {
    position: absolute;
    top: 920;
    z-index: -4;
    left: 430;
}
.masjid8 {
    position: absolute;
    top: 920;
    z-index: -4;
    right: -430;
    image-orientation: flip;
}
.places {
    position: absolute;
    top: 1520;
    z-index: -4;
    left: -275;
}
.places3 {
    position: absolute;
    top: 1520;
    z-index: -4;
    left: 204;
}
.places2 {
    position: absolute;
    top: 1520;
    z-index: -2;
    right: -14;
}
.places4 {
    position: absolute;
    top: 1520;
    z-index: -2;
    right: -430;
}
.places5 {
    position: absolute;
    top: 2120;
    z-index: -2;
    left: -170;
}
.places6 {
    position: absolute;
    top: 2120;
    z-index: -2;
    left: 204;
}
.places7 {
    position: absolute;
    top: 2120;
    z-index: -2;
    left: 633;
}
.places8 {
    position: absolute;
    top: 2120;
    z-index: -2;
    right: -430;
}
.last1 {
    position: absolute;
    top: 2720;
    z-index: -2;
    left: -315;
}
.last2 {
    position: absolute;
    top: 2720;
    z-index: -2;
    left: 204;
}
.last3 {
    position: absolute;
    top: 2720;
    z-index: -2;
    left: 633;
}
.last4 {
    position: absolute;
    top: 2720;
    z-index: -2;
    right: -430;
}
.title {
    font-family: Fira Sans;
    color: white;
    font-size: 160pt;
    text-transform: uppercase;
    left: -70;
    position: absolute;
}

.title2 {
    font-family: Fira Sans;
    color: white;
    font-size: 160pt;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    top: 330;
    left: -62;
    font-weight: bold;
}
.head1 {
    font-family: Ubuntu;
    color: white;
    position: absolute;
    top: 3500;
    font-size: 20pt;
    left: 810;
}
.head2 {
    font-family: Ubuntu;
    color: white;
    position: absolute;
    top: 3785;
    font-size: 20pt;
    left: 810;
}
.head3 {
    font-family: Ubuntu;
    color: white;
    position: absolute;
    top: 4070;
    font-size: 20pt;
    left: 810;

  }

.prayermat {
    position: absolute;
    top: 3260;
    left: 72;
}

#link1 a:link {
    color: white;
    font-size: 25px;
    font-family: Ubuntu;
    letter-spacing: 3pt;
    position: absolute;
    top: 5000;
    left: 5;
}
#link1 a:visited {
    color: #7F141E;
}
      
#link1 a:hover {
    color:white;
      
}
#link2 a:link {
    color: white;
    font-size: 25px;
    font-family: Ubuntu;
    letter-spacing: 3pt;
    position: absolute;
    top: 5060;
    left: 5;
}
#link2 a:visited {
    color: #7F141E;
}
      
#link2 a:hover {
    color:white;
      
}

  
